<%= render 'layouts/nav' %> 
<div class="container c-body">
<%= render 'layouts/tabs' %>

        <div class="container">
            <h4 class="mt-4">Shipping Address</h4>
            <% if @user.address.present? %>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Street Address</td>
                            <td> <%= @user.address.street_number.to_s + " " + @user.address.street_address%> </td>
                        </tr>
                        <tr>
                            <td>Neighbourhood</td>
                            <td> <%= @user.address.neighbourhood %> </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td> <%= @user.address.city %> </td>
                        </tr>
                        <tr>
                            <td>Area Code</td>
                            <td> <%= @user.address.area_code %> </td>
                        </tr>
                        <tr>
                            <td>Province</td>
                            <td> <%= @user.address.province %> </td>
                        </tr>
                    </tbody>
                </table>
            <% else %>
                <%= form_with model: @address, url: shipping_path do |form| %>
                    <div class="mb-3">
                        <%= form.label :street_number, class:"form-label"%>
                        <%= form.text_field :street_number, class:"form-control"%>
                        <%= form.label :street_address, class:"form-label"%>
                        <%= form.text_field :street_address, class:"form-control"%>
                        <%= form.label :neighbourhood, class:"form-label"%>
                        <%= form.text_field :neighbourhood, class:"form-control"%>
                        <%= form.label :city, class:"form-label"%>
                        <%= form.text_field :city, class:"form-control"%>
                        <%= form.label :area_code, class:"form-label"%>
                        <%= form.text_field :area_code, class:"form-control"%>
                        <%= form.label :province, class:"form-label"%>
                        <%= form.text_field :province, class:"form-control"%>
                        <% form.text_field :street_address, class:"form-control"%>
                        <%= form.hidden_field :user_id, value: @user.id %>
                    </div>
                    <div class="mb-3">
                        <%= form.submit "Add Address", class: "btn btn-info"%>
                    </div>
                <%end%>
            <% end %>
            <%= button_to "Change Shipping Details", changepass_path, class:"btn btn-info"%>
        </div>
</div>