<%= render 'layouts/nav' %> 
<div class="container c-body">
<%=render 'layouts/sidenav'%>

    <div>
    <h4 class="mt-3" >Stringed Instruments</h4>
        <div class="product-layout mt-4 d-flex justify-content-around">
            <%@products.each do |product|%>
                    <div class="card" style="width: 18rem;">
                        <%= image_tag(product.product_image, class:"card-img-top")%>
                        <div class="card-body">
                            <h5 class="card-title"><%= product.product_name %></h5>
                            <p class="card-text"> <%= product.product_description %> </p>
                            <p class="card-text">R <%= product.product_price %></p>
                            <%= button_to "View Product", class:"btn btn-info"%>
                        </div>
                    </div>
            <% end %>
        </div>
        
   </div>

</div>
