<div class="tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <%= link_to "Account Settings", account_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Billing Details", billing_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Shipping Details", shipping_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Orders", orders_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Wishlist", wishlist_path, class:"nav-link" %>
        </li>
    </ul>
</div>